@model ICollection<CarViewModel>

@{
    ViewBag.Title = "My Favorite Cars";
}

<div class="container my-custom-background-color">
    <div class="row">
    
        <p><h2 class="text-center">@ViewBag.Title</h2></p>


        @if (!Model.Any())
        {
            <h2 class="text-center">You haven't added any cars in your favorite list.</h2>
            <div class="d-flex justify-content-center">
                <p>
                    <a asp-controller="Car" asp-action="All" class="btn btn-success btn-lg fw-bold" style="width:350px">
                        View catalogue of cars
                    </a>
                </p>
            </div>
        }

        @foreach (var car in Model)
        {
            string newDescription = string.Join(" ", car.Description
                .Split(new char[] { ' ', '\t', '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries)
                .ToList().Take(4)) + "...";

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">

                    <img class="card-img-top img-fluid img-thumbnail my-custom-car-image-props" src="@car.ImageUrl" alt="Car Image">

                    <div class="card-body">

                        <h5 class="card-title text-center">@car.Make @car.Model</h5>

                        <p class="mb-1"><span class="fw-bold">Year: </span>@car.Year</p>
                        <p class="mb-1"><span class="fw-bold">Category: </span>@car.CategoryName</p>
                        <p class="mb-1"><span class="fw-bold">Horsepower: </span>@car.Horsepower</p>
                        <p class="mb-1"><span class="fw-bold">Price: </span>@car.Price (EUR)</p>
                    </div>

                    <div class="card-footer">

                        <a asp-controller="Car" asp-action="Details" asp-route-id="@car.CarId" class="btn btn-success fw-bold">
                            View Details
                        </a>

                        <p style="margin-top: 4%">
                            <a asp-controller="Car" asp-action="RemoveFromFavoriteCars" asp-route-id="@car.CarId" class="btn btn-customColor">
                                Remove from favorite cars
                            </a>
                        </p>

                    </div>

                </div>

            </div>
        }
    </div>
     
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="CommonView" />
}