@inject IPartService PartService
@{
    ICollection<PartViewModel> parts = await PartService.GetHomePagePartsAsync();

    PartViewModel? firstPart = parts.FirstOrDefault(x => x.Name.Contains("BMW S85"));
    PartViewModel? secondPart = parts.FirstOrDefault(x => x.Name.Contains("Audi S-line Brakes"));
    PartViewModel? thirdPart = parts.FirstOrDefault(x => x.Name.Contains("Side Mirror C-Class"));

    string? firstPart_ShortDescription = firstPart.Description.Substring(0, 225).TrimEnd() + "...";
    string? secondPart_ShortDescription = secondPart.Description.Substring(0, 225).TrimEnd() + "...";
    string? thirdPart_ShortDescription = thirdPart.Description.Substring(0, 225).TrimEnd() + "...";
}

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="@firstPart.ImageUrl" alt="Part Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                @firstPart_ShortDescription
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Part", new{id = firstPart.Id})" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="@Url.Action("Purchase", "Part", new{id = firstPart.Id})" type="button" class="btn btn-sm btn-outline-secondary">Buy</a>
                </div>
                <small class="text-muted">Engine</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="@secondPart.ImageUrl" alt="Part Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                @secondPart_ShortDescription
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Part", new{id = secondPart.Id})" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="@Url.Action("Purchase", "Part", new{id = secondPart.Id})" type="button" class="btn btn-sm btn-outline-secondary">Buy</a>
                </div>
                <small class="text-muted">Brakes</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="@thirdPart.ImageUrl" alt="Part Image">
        </span>
        <div class="card-body">
            <p class="card-text">
                @thirdPart_ShortDescription
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Part", new{id = thirdPart.Id})" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="@Url.Action("Purchase", "Part", new{id = thirdPart.Id})" type="button" class="btn btn-sm btn-outline-secondary">Buy</a>
                </div>
                <small class="text-muted">Side mirror</small>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="CommonView" />
}