@model AddCarViewModel

@{
    ViewBag.Title = "Add a New Car";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Description.Make" class="form-label-add-edit">Make</label>
                <input asp-for="@Model.Description.Make" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Make" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Model" class="form-label-add-edit">Model</label>
                <input asp-for="@Model.Description.Model" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Model" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Year" class="form-label-add-edit">Year</label>
                <input asp-for="@Model.Description.Year" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Year" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Wheels" class="form-label-add-edit">Wheels</label>
                <input asp-for="@Model.Description.Wheels" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Wheels" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Price" class="form-label-add-edit">Price</label>
                <input asp-for="@Model.Description.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Color" class="form-label-add-edit">Color</label>
                <input asp-for="@Model.Description.Color" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Color" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.EngineSize" class="form-label-add-edit">Engine Size</label>
                <input asp-for="@Model.Description.EngineSize" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.EngineSize" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.FuelType" class="form-label-add-edit">Fuel Type</label>
                <input asp-for="@Model.Description.FuelType" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.FuelType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Transmission" class="form-label-add-edit">Transmission</label>
                <input asp-for="@Model.Description.Transmission" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Transmission" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Category" class="form-label-add-edit">Category</label>
                <input asp-for="@Model.Description.Category" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Weight" class="form-label-add-edit">Weight</label>
                <input asp-for="@Model.Description.Weight" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Weight" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.TopSpeed" class="form-label-add-edit">Top Speed</label>
                <input asp-for="@Model.Description.TopSpeed" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.TopSpeed" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Acceleration" class="form-label-add-edit">Acceleration</label>
                <input asp-for="@Model.Description.Acceleration" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Acceleration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Horsepower" class="form-label-add-edit">Horsepower</label>
                <input asp-for="@Model.Description.Horsepower" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Horsepower" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Torque" class="form-label-add-edit">Torque</label>
                <input asp-for="@Model.Description.Torque" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Torque" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.FuelConsumption" class="form-label-add-edit">Fuel Consumption</label>
                <input asp-for="@Model.Description.FuelConsumption" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.FuelConsumption" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.Emission" class="form-label-add-edit">Emission</label>
                <input asp-for="@Model.Description.Emission" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.Emission" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description.SafetyFeatures" class="form-label-add-edit">Safety Features</label>
                <input asp-for="@Model.Description.SafetyFeatures" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Description.SafetyFeatures" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
