@using CarParts.Services.Data.Interfaces
@using CarParts.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static CarParts.Common.GlobalConstants.AdminUser;

@inject IUserService UserService
@{
    //string id = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    //string id2 = await UserService.GetUserIdByEmail(this.User.Identity.Name);
    var id = this.User.GetId();
    var balance = await UserService.GetUserBalanceById(id);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarParts2023</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarParts2023.styles.css" asp-append-version="true" />
</head>
<body>



<div class="container">

        <header>

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/Home/Index">Home Page</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">

                            @if (!User.Identity.IsAuthenticated)
                            {
                                @*?XD*@
                            }
                            else if (!User.IsInRole(AdminRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("All", "Car")">
                                        All Cars
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Cars
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="@Url.Action("Add", "Car")">Add a car</a></li>

                                        <li><a class="dropdown-item" href="@Url.Action("MyFavoriteCars", "Car")">My favorite cars</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("MyCars", "Car")">My cars</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("MyRentedCars", "Car")">My rented cars</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("Search", "Car")">Search cars</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("All", "Part")">
                                        All Parts
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Parts
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="@Url.Action("Add", "Part")">Add a part</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("Search", "Part")">Search part</a></li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("MyFavoriteParts", "Part")">
                                                My favorite parts
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item" href="@Url.Action("MyParts", "Part")">My parts</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>


                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        About us
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="@Url.Action("Reviews", "Car")">Reviews</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("Contacts", "Car")">Contact us</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("MyRentedCars", "Car")">
                                        My Rented Cars
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("TestView", "Home")">
                                        <b> TEST VIEW</b>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("TestView2", "Home")">
                                        <b><i> TEST VIEW 2</i></b>
                                    </a>
                                </li>

                            }
                            else
                            {
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home", new { area = "Admin" })">
                                    <b>ADMIN AREA</b>
                                </a>
                            }

                        </ul>



                    </div>


                    @if (User.Identity.IsAuthenticated && !await UserService.IsUserDealer(User.GetId()))
                    {
                        <a class="nav-link active" aria-current="page" href="@Url.Action("BecomeDealer", "Dealer")">
                            Become Dealer
                        </a>

                        <a class="nav-link active" aria-current="page" href="@Url.Action("AddMoney", "User")">
                            Add 100 euro
                        </a>

                        <a class="nav-link active" aria-current="page" href="@Url.Action("ResetMoney", "User")">
                            Reset money
                        </a>

                        <a class="nav-link active" aria-current="page">
                            Balance: @balance eur
                        </a>

                    }


                    <span class="navbar-text">
                        <partial name="_LoginPartial" />
                    </span>

                </div>

            </nav>


        </header>

    
    
    

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>



<footer class="border-top footer text-muted">
    <div class="container-fluid">
        &copy; 2023 - CarParts - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>