@inject ICarService CarService
@{
    ICollection<CarViewModel> cars = await CarService.GetHomePageCarsAsync();

    CarViewModel? firstCar = cars.FirstOrDefault(x => x.Make.Contains("BMW"));
    CarViewModel? secondCar = cars.FirstOrDefault(x => x.Make.Contains("Mercedes-Benz"));
    CarViewModel? thirdCar = cars.FirstOrDefault(x => x.Make.Contains("Audi"));

    string? firstCar_ShortDescription = firstCar.Description.Substring(0, 225).TrimEnd() + "...";
    string? secondCar_ShortDescription = secondCar.Description.Substring(0, 225).TrimEnd() + "...";
    string? thirdCar_ShortDescription = thirdCar.Description.Substring(0, 225).TrimEnd() + "...";
}

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="@firstCar.ImageUrl" alt="Car Image">
           @* <img class="card-img-top img-fluid" src="@firstCar.ImageUrl" alt="Card image cap">*@
        </span>
        <div class="card-body">
            <p class="card-text">
                @firstCar_ShortDescription
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Car", new{id = firstCar.CarId})" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="@Url.Action("Rent", "Car", new{id = firstCar.CarId})" type="button" class="btn btn-sm btn-outline-secondary">Rent</a>
                </div>
                <small class="text-muted">Coupe</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="@secondCar.ImageUrl" alt="Car Image">
            @*  <img class="card-img-top img-fluid" src="@secondCar.ImageUrl" alt="Card image cap">*@
        </span>
        <div class="card-body">
            <p class="card-text">
                @secondCar_ShortDescription
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Car", new{id = secondCar.CarId})" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="@Url.Action("Rent", "Car", new{id = secondCar.CarId})" type="button" class="btn btn-sm btn-outline-secondary">Rent</a>
                </div>
                <small class="text-muted">Coupe</small>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <span class="border">
            <img class="card-img-top img-fluid img-thumbnail my-home-car-image-props" src="@thirdCar.ImageUrl" alt="Car Image">
            @* <img class="card-img-top img-fluid" src="@thirdCar.ImageUrl" alt="Card image cap">*@
        </span>
        <div class="card-body">
            <p class="card-text">
                @thirdCar_ShortDescription
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="@Url.Action("Details", "Car", new{id = thirdCar.CarId})" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                    <a href="@Url.Action("Rent", "Car", new{id = thirdCar.CarId})" type="button" class="btn btn-sm btn-outline-secondary">Rent</a>
                </div>
                <small class="text-muted">Coupe</small>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="CommonView"/>
}