@model StatisticsViewModel

<style>
    .my-custom-background-color {
        background-color: #e6f9ff;
    }
</style>

<section class="jumbotron text-center my-custom-background-color">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to CarParts site</h1>
        <p class="lead text-muted">
            Here you can find all the information you need about your car.
            <br/>
            Also you can become a dealer and add your car to our site.
            <br/>
            Or just share your experience about your car with other users.
        </p>
        <p>
            <a href="@Url.Action("All", "Car")" class="btn btn-primary my-2">Explore all cars in our site</a>
            <a href="@Url.Action("All", "Part")" class="btn btn-secondary my-2">Explore all parts in our site</a>
        </p>
        
        <p>
            
            <p class="d-inline-flex gap-1">
                <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Show statistics
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="row">
                    
                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">

                        <div class="row">

                            <div class="col-md-2">

                            </div>

                            <div class="col-md-8">

                                <h3>Statistics</h3>
                                <table class="table table-sm">
                                    <tr>
                                        <th>Total Cars:</th>
                                        <td>@Model.TotalCars</td>
                                    </tr>
                                    <tr>
                                        <th>Total Parts:</th>
                                        <td>@Model.TotalParts</td>
                                    </tr>
                                    <tr>
                                        <th>Total Users:</th>
                                        <td>@Model.TotalUsers</td>
                                    </tr>
                                    <tr>
                                        <th>Total Dealers:</th>
                                        <td>@Model.TotalDealers</td>
                                    </tr>
                                    <tr>
                                        <th>Total Rentals:</th>
                                        <td>@Model.TotalRents</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-2">

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                    </div>

                </div>
            </div>

        </p>
     
    </div>
</section>

<div class="album py-5 my-custom-background-color">
    <div class="container">

        <div class="row">
           
            @await Html.PartialAsync("CarsIndexPagePartial")

            @await Html.PartialAsync("PartsIndexPagePartial")

        </div>


    </div>
</div>