@model ICollection<CarViewModel>

@{
    ViewBag.Title = "All Cars";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        @foreach (var car in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@car.Make @car.Model</h5>
                        <p class="card-text">
                            <span class="fw-bold">Year:</span> @car.Year
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Price:</span> $@car.Price
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Fuel Type:</span> @car.FuelType
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Category:</span> @car.Category
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Horsepower:</span> @car.Horsepower
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Car" asp-action="Details" asp-route-id="@car.CarId" class="btn btn-info btn-block">
                            View Details
                        </a>
                        <!--
                        @* If (User.Identity.Name == car.Supplier)
                    {
                        <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.CarId" class="btn btn-info btn-block">Edit</a>
                    }
                    else
                    {
                        <form asp-controller="Car" asp-action="Rent" asp-route-id="@car.CarId">
                            <button type="submit" class="btn btn-info btn-block">Rent the Car</button>
                        </form>
                    } *@
                        -->
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
