@model CarParts.Web.ViewModels.Car.EditCarViewModel

@{
    ViewBag.Title = "Edit Car Info";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Make" class="form-label-add-edit">Make</label>
                <input asp-for="@Model.Make" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Make" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Model" class="form-label-add-edit">Model</label>
                <input asp-for="@Model.Model" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Model" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Year" class="form-label-add-edit">Year</label>
                <input asp-for="@Model.Year" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Year" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit">Image URL</label>
                <input asp-for="@Model.ImageUrl" class="form-control" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Color" class="form-label-add-edit">Color</label>
                <input asp-for="@Model.Color" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EngineSize" class="form-label-add-edit">Engine Size</label>
                <input asp-for="@Model.EngineSize" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.EngineSize" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FuelTypeId" class="form-label-add-edit">Fuel Type</label>
                <select asp-for="@Model.FuelTypeId" class="form-control" aria-required="true">
                    @foreach (var fuelType in Model.FuelTypes)
                    {
                        <option value="@fuelType.Id">@fuelType.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.FuelTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TransmissionId" class="form-label-add-edit">Transmission</label>
                <select asp-for="@Model.TransmissionId" class="form-control" aria-required="true">
                    @foreach (var transmission in Model.Transmissions)
                    {
                        <option value="@transmission.Id">@transmission.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.TransmissionId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit">Category</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Weight" class="form-label-add-edit">Weight</label>
                <input asp-for="@Model.Weight" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Weight" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TopSpeed" class="form-label-add-edit">Top Speed</label>
                <input asp-for="@Model.TopSpeed" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.TopSpeed" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Acceleration" class="form-label-add-edit">Acceleration</label>
                <input asp-for="@Model.Acceleration" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Acceleration" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Horsepower" class="form-label-add-edit">Horsepower</label>
                <input asp-for="@Model.Horsepower" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Horsepower" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Torque" class="form-label-add-edit">Torque</label>
                <input asp-for="@Model.Torque" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Torque" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FuelConsumption" class="form-label-add-edit">Fuel Consumption</label>
                <input asp-for="@Model.FuelConsumption" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.FuelConsumption" class="text-danger"></span>
            </div>
            
            
            <div class="mb-3">
                <label asp-for="@Model.RentPrice" class="form-label-add-edit">Rent Price</label>
                <input asp-for="@Model.RentPrice" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.RentPrice" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
