@using CarParts.Services.Data.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static CarParts.Common.GlobalConstants.Car;
@model CarParts.Web.ViewModels.Car.RentCarViewModel

@{
    ViewBag.Title = "Manage Rental";
}

@{
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;

    if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }

    if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success">@successMessage</div>
    }
}


@*SweetAlert CDN*@
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.js"></script>



<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="ManageRental" method="post">
            <div class="image-container">
                <img src="@Model.ImageUrl" alt="Car Image" class="card-img-top">
            </div>
            <h3>@Model.Make @Model.Model</h3>
            <p class="mb-0"><span class="fw-bold">Year: </span>@Model.Year</p>
            <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="mb-0"><span class="fw-bold">Price: </span>@Model.Price</p>
            <p class="mb-0"><span class="fw-bold">Color: </span>@Model.Color</p>
            <br />
            <p class="mb-0"><span class="fw-bold">Renter Name: </span>@Model.RenterName</p>
            <br />

            <input type="hidden" asp-for="@Model.Make" />
            <input type="hidden" asp-for="@Model.Model" />
            <input type="hidden" asp-for="@Model.Year" />
            <input type="hidden" asp-for="@Model.Description" />
            <input type="hidden" asp-for="@Model.Price" />
            <input type="hidden" asp-for="@Model.Color" />
            <input type="hidden" asp-for="@Model.ImageUrl" />
            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.RenterName" />
            

            <div class="mb-3">
                <label asp-for="@Model.RentPrice" class="form-label-add-edit">Rent Price</label>
                <input asp-for="@Model.RentPrice" class="form-control" aria-required="true" readonly />
                <span asp-validation-for="@Model.RentPrice" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.RentalStartDate" class="form-label-add-edit">Rental Start Date</label>
                <input asp-for="@Model.RentalStartDate" class="form-control" aria-required="true" readonly />
                <span asp-validation-for="@Model.RentalStartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RentalEndDate" class="form-label-add-edit">Rental End Date</label>
                <input asp-for="@Model.RentalEndDate" class="form-control" aria-required="true"/>
                <span asp-validation-for="@Model.RentalEndDate" class="text-danger"></span>
            </div>
            
            <h3>Warning! You will be taxed @TaxPriceForAdjustingRental euro for the rental change,
                and @TaxPriceForCancelingRental euro if you cancel the rental.</h3>
            
            <div class="mb-3">
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Update Rental" />
            </div>

        </form>

       
        @*<form asp-action="EndRental" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <button type="submit" class="btn btn-danger btn-block">End Rental</button>
        </form>*@
        
        <form asp-action="EndRental" method="post" id="endRentalForm">
            <input type="hidden" asp-for="@Model.Id" />
            <button type="submit" class="btn btn-danger btn-block" id="endRentalButton">End Rental</button>
        </form>

    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script>
        $(document).ready(function () {
            // Handle click event for the "End Rental" button
            $("#endRentalButton").click(function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Show the confirmation dialog using SweetAlert2
                Swal.fire({
                    title: "Are you sure?",
                    text: "You want to end your rental",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, end it!",
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user clicks "OK" in the SweetAlert2 confirmation dialog, submit the form
                        $("#endRentalForm").submit();
                    }
                });
            });
        });
    </script>
}