@model ICollection<CarViewModel>

@{
    ViewBag.Title = "My Cars";
}

<div class="container my-custom-background-color">
    <div class="row">

        <p><h2 class="text-center">@ViewBag.Title</h2></p>

        
        @if (!Model.Any())
        {
            <h2 class="text-center" style="margin-bottom: 2%">You haven't added any cars yet.</h2>
            <div class="d-flex justify-content-center">
                <p>
                    <a asp-controller="Car" asp-action="Add" class="btn btn-success btn-lg fw-bold" style="width:350px">
                        Add a car
                    </a>
                </p>
            </div>
        }

        @foreach (var car in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    
                    <img class="card-img-top img-fluid img-thumbnail my-custom-car-image-props" src="@car.ImageUrl" alt="Car Image">

                    <div class="card-body">

                        <h5 class="card-title text-center">@car.Make @car.Model</h5>

                        <p class="card-text">
                            <span class="fw-bold">Year:</span> @car.Year
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Price:</span> @car.Price (EUR)
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Fuel Type:</span> @car.FuelTypeName
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Category:</span> @car.CategoryName
                        </p>

                        <p class="card-text">
                            <span class="fw-bold">Horsepower:</span> @car.Horsepower
                        </p>

                    </div>
                    


                    <div class="card-footer">
                        <a asp-controller="Car" asp-action="Details" asp-route-id="@car.CarId" class="btn btn-info btn-block">
                            View Details
                        </a>

                        @if (User.Identity!.Name == car.OwnerEmail)
                        {
                            <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.CarId" class="btn btn-warning btn-block">
                                Edit
                            </a>

                            <a href="#" class="btn btn-danger btn-block delete-car" data-id="@car.CarId">
                                Delete
                            </a>
                        }

                    </div>

                </div>

            </div>
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="CommonView" />
}