@model ICollection<CarParts.Web.ViewModels.Car.CarViewModel>

@{
    ViewBag.Title = "My Favorite Cars";
}

@{
    // Retrieve messages from TempData
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">@successMessage</div>
}


<style>
    .btn-customColor {
        background-color: darkolivegreen;
        color: white;
        /* Add any additional styling as needed */
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var car in Model)
    {
        string newDescription = string.Join(" ", car.Description
            .Split(new char[] { ' ', '\t', '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries)
            .ToList().Take(5)) + "...";

        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">

                <img src="@car.ImageUrl" alt="Car Image" class="card-img-top">

                <h5 class="card-title mt-1">@car.Make @car.Model</h5>
                <p class="mb-0"><span class="fw-bold">Year: </span>@car.Year</p>
                <p class="mb-0"><span class="fw-bold">Description: </span>@newDescription</p>
                <p class="mb-0"><span class="fw-bold">Price: </span>@car.Price</p>
                <p class="mb-0"><span class="fw-bold">Color: </span>@car.Color</p>
                <p class="mb-0"><span class="fw-bold">Engine Size: </span>@car.EngineSize</p>
                <p class="mb-0"><span class="fw-bold">Fuel Type: </span>@car.FuelTypeName</p>
                <p class="mb-0"><span class="fw-bold">Transmission: </span>@car.TransmissionName</p>
                <p class="mb-0"><span class="fw-bold">Category: </span>@car.CategoryName</p>
                <p class="mb-0"><span class="fw-bold">Weight: </span>@car.Weight</p>
                <p class="mb-0"><span class="fw-bold">Top Speed: </span>@car.TopSpeed</p>
                <p class="mb-0"><span class="fw-bold">Acceleration: </span>@car.Acceleration</p>
                <p class="mb-0"><span class="fw-bold">Horsepower: </span>@car.Horsepower</p>
                <p class="mb-0"><span class="fw-bold">Torque: </span>@car.Torque</p>
                <p class="mb-0"><span class="fw-bold">Fuel Consumption: </span>@car.FuelConsumption</p>
            </div>

            <div class="card-footer">
                <a asp-controller="Car" asp-action="Details" asp-route-id="@car.CarId" class="btn btn-success mb-2 w-100 p-3 fw-bold">
                    View Details
                </a>

                @if (User.Identity.Name == car.Owner)
                {
                    <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.CarId" class="btn btn-warning mb-2 w-100 p-3 fw-bold">
                        Edit
                    </a>
                }

                <a asp-controller="Car" asp-action="RemoveFromFavoriteCars" asp-route-id="@car.CarId" class="btn btn-customColor btn-block">
                    Remove from favorite cars
                </a>
            </div>
        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}