@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CarParts.Services.Data.Interfaces
@model CarParts.Web.ViewModels.Car.RentCarViewModel

@{
    ViewBag.Title = "Rent Car";
}

@{
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;

    if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }

    if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success">@successMessage</div>
    }
}

@inject IUserService UserService
@{
    string userName = await UserService.GetUserFullNameByEmail(this.User.Identity.Name); //TODO: .Email
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        
        <div class="image-container">
            <img src="@Model.ImageUrl" alt="Car Image" class="card-img-top">
        </div>
            
        <h3>@Model.Make @Model.Model</h3>
        <p class="mb-0"><span class="fw-bold">Year: </span>@Model.Year</p>

        <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
        <p class="mb-0"><span class="fw-bold">Price: </span>@Model.Price</p>
        <p class="mb-0"><span class="fw-bold">Color: </span>@Model.Color</p>
        <br/>
        <p class="mb-0"><span class="fw-bold">Renter Name: </span>@Model.RenterName</p>
        <br/>
        
        @*NE SE MAPVAT PRAVILNO!!!! ??? nz zako, ako gi napraq kakto RentPrice po-dolu, shte rabotqt, no e grozno za front end-a*@

        <form asp-action="Rent" method="post">

            <div class="mb-3">
                <label asp-for="@Model.RentPrice" class="form-label-add-edit">Rent Price</label>
                <input asp-for="@Model.RentPrice" class="form-control" aria-required="true" readonly/>
                <span asp-validation-for="@Model.RentPrice" class="text-danger"></span>
            </div>

            <br/>

            <div class="mb-3">
                <label asp-for="@Model.RentalStartDate" class="form-label-add-edit">Rental Start Date</label>
                <input asp-for="@Model.RentalStartDate" class="form-control" aria-required="true"/>
                <span asp-validation-for="@Model.RentalStartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RentalEndDate" class="form-label-add-edit">Rental End Date</label>
                <input asp-for="@Model.RentalEndDate" class="form-control" aria-required="true"/>
                <span asp-validation-for="@Model.RentalEndDate" class="text-danger"></span>
            </div>

            <h3>Warning! You cant rent a car for less than a day.</h3>

            <div class="mb-3">
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Rent"/>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}