@model ICollection<CarViewModel>

@inject IUserService UserService

@{
    ViewBag.Title = "Search Cars";
}


<section class="search-sec">
    <div class="container my-custom-background-color border border-info">
        <h2 class="text-center">@ViewBag.Title</h2>
        <form asp-controller="Car" asp-action="Search" method="get">
            <table class="table table-borderless">
                <tr>
                    
                    <td>
                        <label class="fw-bold">Model/description</label>
                        <input type="text" class="form-control search-slt" name="searchTerm"
                               value="@ViewBag.SearchTerm" placeholder="Search by car model or description">
                    </td>
                    <td>
                        <label class="fw-bold">Category</label>
                        <select class="form-control search-slt" name="category"> 
                            <option value="">All Categories</option>
                            <option value="Sedan">Sedan</option>
                            <option value="Coupe">Coupe</option>
                            <option value="Hatchback">Hatchback</option>
                            <option value="SUV">SUV</option>
                            <option value="Wagon">Wagon</option>
                            <option value="Cabrio">Cabrio</option>
                            <option value="Pickup Truck">Pickup Truck</option>
                            <option value="Minivan">Minivan</option>
                            <option value="Jeep">Jeep</option>
                        </select>
                    </td>
                    <td>
                        <label class="fw-bold">Transmission</label>
                        <select class="form-control search-slt" name="transmissionName">
                            <option value="">All Transmission Types</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                        </select>
                    </td>
                    
                    <td>
                        <label class="fw-bold">Fuel type</label>
                        <select class="form-control search-slt" name="fuelName">
                            <option value="">All Fuel Types</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Electric">Electric</option>
                            <option value="Hybrid">Hybrid</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    
                    <td>
                        <label class="fw-bold">From year</label>
                        <input type="number" class="form-control search-slt" name="fromYear" value="@ViewBag.FromYear"
                               placeholder="From Year">
                    </td>
                    <td>
                        <label class="fw-bold">To year</label>
                        <input type="number" class="form-control search-slt" name="toYear" value="@ViewBag.ToYear"
                               placeholder="To Year">
                    </td>
                    <td>
                        <label class="fw-bold">From horsepower</label>
                        <input type="number" class="form-control search-slt" name="fromHp" value="@ViewBag.FromHp"
                               placeholder="From Horsepower">
                    </td>
                    
                    <td>
                        <label class="fw-bold">To horsepower</label>
                        <input type="number" class="form-control search-slt" name="toHp" value="@ViewBag.ToHp"
                               placeholder="To Horsepower">
                    </td>
                </tr>
                <tr>
                   
                    <td>
                        <label class="fw-bold">From price</label>
                        <input type="number" class="form-control search-slt" name="fromPrice" value="@ViewBag.FromPrice"
                               placeholder="From Price">
                    </td>
                    <td>
                        <label class="fw-bold">To price</label>
                        <input type="number" class="form-control search-slt" name="toPrice" value="@ViewBag.ToPrice"
                               placeholder="To Price">
                    </td>
                    <td>
                        <label class="fw-bold">Sort by price</label>
                        <select class="form-control search-slt" name="priceSort">
                            <option value="asc">Price: Low to High</option>
                            <option value="desc">Price: High to Low</option>
                        </select>
                    </td>
                    <td>
                        <div class="form-check" style="margin-top:17%">
                            <input class="form-check-input" type="checkbox" name="showOnlyNonRented" value="true" @if (ViewBag.ShowOnlyNonRented == true) { <text>checked</text> }>
                            <label class="form-check-label">Show only non-rented cars</label>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td colspan="4" class="text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="submit" class="btn btn-danger" id="resetButton">Reset</button>
                    </td>

                </tr>
            </table>
        </form>
    </div>

    <br />

</section>



<section class="search-results">
    <div class="container my-custom-background-color border border-warning">
    
        <div class="row">

            @if (!Model.Any())
            {
                <th>
                    <h2 class="text-center">Unfortunately, we couldn't find any cars matching your search filters.</h2>
                </th>
            }

            @foreach (var car in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <span class="border border-danger-subtle">

                            <img class="card-img-top img-fluid img-thumbnail my-custom-car-image-props" src="@car.ImageUrl" alt="Car Image">

                            <div class="card-body">

                                <h5 class="card-title text-center">@car.Make @car.Model</h5>

                                <p class="card-text">
                                    <span class="fw-bold">Year:</span> @car.Year
                                </p>

                                <p class="card-text">
                                    <span class="fw-bold">Category:</span> @car.CategoryName
                                </p>

                                <p class="card-text">
                                    <span class="fw-bold">Horsepower:</span> @car.Horsepower
                                </p>

                                <p class="card-text">
                                    <span class="fw-bold">Price:</span> @car.Price (EUR)
                                </p>
                                
                                @*TODO: remove this for users*@
                                <p class="card-text">
                                    <span class="fw-bold">Renter:</span> @car.RenterEmail 
                                </p>

                            </div>

                            <div class="card-footer">

                               
                                <a asp-controller="Car" asp-action="Details" asp-route-id="@car.CarId" class="btn btn-info btn-block">
                                    View Details
                                </a>

                                @if (User.Identity!.IsAuthenticated)
                                {
                                    <a asp-controller="Car" asp-action="AddToFavoriteCars" asp-route-id="@car.CarId" class="btn btn-purple btn-block">
                                        Add to favorite cars
                                    </a>
                                }

                                @if (User.IsAdmin())
                                {
                                    <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.CarId" class="btn btn-warning btn-block">
                                        Edit
                                    </a>

                                    <a href="#" class="btn btn-danger btn-block delete-car" data-id="@car.CarId">
                                        Delete
                                    </a>
                                    <a asp-controller="Car" asp-action="Rent" asp-route-id="@car.CarId" class="btn btn-lightgreen btn-block">
                                        Rent
                                    </a>
                                }
                                else if (!await UserService.IsUserDealerAsync(User.GetId()!))
                                {
                                    @if (User.Identity!.IsAuthenticated)
                                    {
                                        <a asp-controller="Car" asp-action="Rent" asp-route-id="@car.CarId" class="btn btn-lightgreen btn-block">
                                            Rent
                                        </a>
                                    }
                                }
                            </div>


                        </span>
                    </div>
                </div>
            }

        </div>
     
    </div>

</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="CommonView"/>


    <script>
        //Save results from last search
       
        var selectedFuel = '@ViewBag.Fuel';
        var selectedTransmission = '@ViewBag.Transmission';
        var selectedCategory = '@ViewBag.Category';
        var selectedPriceSort = '@ViewBag.PriceSort';

        var dropdownFuel = document.getElementsByName('fuelName')[0];
        var dropdownTransmission = document.getElementsByName('transmissionName')[0];
        var dropdownCategory = document.getElementsByName('category')[0];
        var dropdownPriceSort = document.getElementsByName('priceSort')[0];

        for (var i = 0; i < dropdownFuel.options.length; i++) {
            if (dropdownFuel.options[i].value === selectedFuel) {
                dropdownFuel.options[i].selected = true;
                break;
            }
        }


        for (var i = 0; i < dropdownTransmission.options.length; i++) {
            if (dropdownTransmission.options[i].value === selectedTransmission) {
                dropdownTransmission.options[i].selected = true;
                break;
            }
        }

        for (var i = 0; i < dropdownCategory.options.length; i++) {
            if (dropdownCategory.options[i].value === selectedCategory) {
                dropdownCategory.options[i].selected = true;
                break;
            }
        }

        for (var i = 0; i < dropdownPriceSort.options.length; i++) {
            if (dropdownPriceSort.options[i].value === selectedPriceSort) {
                dropdownPriceSort.options[i].selected = true;
                break;
            }
        }


    // Function to reset the dropdown selected options
    function resetDropdown(dropdown) {
        for (var i = 0; i < dropdown.options.length; i++) {
            dropdown.options[i].selected = false;
        }
    }


   // Function to reset the checkbox
        function resetCheckbox(checkbox) {
            checkbox.checked = false;
        }


    // Function to reset all form fields
    function resetFormFields() {

        // Reset the dropdown selected options
        resetDropdown(dropdownFuel);
        resetDropdown(dropdownTransmission);
        resetDropdown(dropdownCategory);
        resetDropdown(dropdownPriceSort);

        // Reset the text input values
        document.getElementsByName("searchTerm")[0].value = "";
        document.getElementsByName("fromYear")[0].value = "";
        document.getElementsByName("toYear")[0].value = "";
        document.getElementsByName("fromHp")[0].value = "";
        document.getElementsByName("toHp")[0].value = "";
        document.getElementsByName("fromPrice")[0].value = "";
        document.getElementsByName("toPrice")[0].value = "";

        // Reset the checkbox
        var showOnlyNonRentedCheckbox = document.getElementsByName("showOnlyNonRented")[0];
        resetCheckbox(showOnlyNonRentedCheckbox);


        // Submit the form to trigger the server-side reset
        document.querySelector("form").submit();
    }

    // Event handler for the Reset button
    document.getElementById("resetButton").addEventListener("click", resetFormFields);

</script>



}