@model ICollection<PartViewModel>

@{
    ViewBag.Title = "All Parts";
}

<div class="container my-custom-background-color">
    <div class="row">

        <p><h2 class="text-center">@ViewBag.Title</h2></p>


        @if (!Model.Any())
        {
            <h2 class="text-center">There are no parts at the moment.</h2>

            <div class="d-flex justify-content-center">
                <p>
                    <a asp-controller="Part" asp-action="Add" class="btn btn-success btn-lg fw-bold" style="width:350px">
                        Add a car
                    </a>
                </p>
            </div>
        }

        @foreach (var part in Model)
        {
            string newDescription = string.Join(" ", part.Description
                .Split(new char[] { ' ', '\t', '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries)
                .ToList().Take(2)) + "...";

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <span class="border border-danger-subtle">

                        <img class="card-img-top img-fluid img-thumbnail my-custom-car-image-props" src="@part.ImageUrl" alt="Part Image">

                        <div class="card-body">

                            <h5 class="card-title text-center">@part.Name</h5>

                            <p class="card-text">
                                <span class="fw-bold">Category:</span> @part.CategoryName
                            </p>

                            <p class="card-text">
                                <span class="fw-bold">Price:</span> @part.Price
                            </p>
                            
                            <p class="card-text">
                                <span class="fw-bold">Description:</span> @newDescription
                            </p>
                            
                            @if (User.IsAdmin())
                            {
                                <p class="card-text">
                                    <span class="fw-bold" style="color: darkred">OwnerEmail:</span> @part.OwnerEmail
                                </p>
                            }

                        </div>

                        <div class="card-footer">

                            <a asp-controller="Part" asp-action="Details" asp-route-id="@part.Id" class="btn btn-info btn-block">
                                View Details
                            </a>
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Part" asp-action="AddToFavoriteParts" asp-route-id="@part.Id" class="btn btn-purple btn-block">
                                    Add to favorite parts
                                </a>
                            }


                            @if (User.IsAdmin())
                            {
                                <a asp-controller="Part" asp-action="Edit" asp-route-id="@part.Id" class="btn btn-warning btn-block">
                                    Edit
                                </a>

                                <a href="#" class="btn btn-danger btn-block delete-part" data-id="@part.Id">
                                    Delete
                                </a>

                                <a asp-controller="Part" asp-action="Purchase" asp-route-id="@part.Id" class="btn btn-lightgreen btn-block">
                                    Purchase
                                </a>

                                <p>
                                    <i>PurchaserEmail</i>:
                                    @if (part.PurchaserEmail == null)
                                    {
                                        <span class="fw-bold">No purchaser</span>
                                    }
                                    else
                                    {
                                        <span class="fw-bold">@part.PurchaserEmail</span>
                                    }
                                </p>
                            }
                            else if (User.Identity!.Name == part.OwnerEmail)
                            {
                                <a asp-controller="Part" asp-action="Edit" asp-route-id="@part.Id" class="btn btn-warning btn-block">
                                    Edit
                                </a>

                                <a href="#" class="btn btn-danger btn-block delete-part" data-id="@part.Id">
                                    Delete
                                </a>
                            }
                            else if (!await UserService.IsUserDealerAsync(User.GetId()!) && User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Part" asp-action="Purchase" asp-route-id="@part.Id" class="btn btn-orange btn-block">
                                    Purchase
                                </a>
                            }

                            

                        </div>

                    </span>

                   
                </div>
            </div>

        }

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <partial name="CommonView"/>
}