@model ICollection<PartViewModel>

@{
    ViewBag.Title = "All Parts";
}

<style>
    .btn-purple {
        background-color: purple;
        color: white;
        /* Add any additional styling as needed */
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row d-flex align-items-start">
        @foreach (var part in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@part.Name</h5>
                        <p class="card-text">
                            <span class="fw-bold">Description:</span> @part.Description
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Price:</span> @part.Price
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Category:</span> @part.CategoryName
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Part" asp-action="Details" asp-route-id="@part.Id" class="btn btn-success btn-block">
                            View Details
                        </a>


                        @if (User.Identity.Name == part.Owner)
                        {
                            <a asp-controller="Part" asp-action="Edit" asp-route-id="@part.Id" class="btn btn-warning btn-block">
                                Edit
                            </a>

                            <a asp-controller="Part" asp-action="Delete" asp-route-id="@part.Id" class="btn btn-danger btn-block">
                                Delete
                            </a>
                        }

                        @*<form class="input-group-sm" asp-controller="Part" asp-action="AddToFavoriteParts" asp-route-id="@part.Id">
                            <input type="submit" value="Add to favorite parts" class="fs-6 btn btn-sm btn-purple mb-3 w-50 p-2 fw-bold" />
                        </form>*@

                        <a asp-controller="Part" asp-action="AddToFavoriteParts" asp-route-id="@part.Id" class="btn btn-purple btn-block">
                            Add to favorite parts
                        </a>

                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}