@model ICollection<PartViewModel>

@{
    ViewBag.Title = "All Parts";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row d-flex align-items-start">
        @foreach (var part in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@part.Name</h5>
                        <p class="card-text">
                            <span class="fw-bold">Description:</span> @part.Description
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Price:</span> @part.Price
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Category:</span> @part.CategoryName
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Part" asp-action="Details" asp-route-id="@part.Id" class="btn btn-success btn-block">View Details</a>
                        @* If (User.Identity.Name == part.Supplier)
                        {
                            <a asp-controller="Part" asp-action="Edit" asp-route-id="@part.Id" class="btn btn-success btn-block">Edit</a>
                        }
                        else
                        {
                            <form asp-controller="Part" asp-action="Order" asp-route-id="@part.Id">
                                <button type="submit" class="btn btn-success btn-block">Order Part</button>
                            </form>
                        } *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}