@using CarParts.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ICollection<CarParts.Web.ViewModels.Part.PartViewModel>

@{
    Layout = "../Shared/_Layout";
}

@{
    ViewBag.Title = "All Parts";
}

@{
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;

    if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">@errorMessage</div>
    }

    if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success">@successMessage</div>
    }
}


@*SweetAlert CDN*@
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.min.js"></script>


<style>
    .btn-purple {
        background-color: purple;
        color: white;
    }

    .my-custom-background-color {
        background-color: #ccf2ff;
    }

    .my-custom-car-image-props {
        height: 200px;
        object-fit: cover; 
    }
</style>



<div class="container my-custom-background-color">
    <div class="row">

        <p><h2 class="text-center">@ViewBag.Title</h2></p>


        @if (!Model.Any())
        {
            <h2 class="text-center">There are no parts at the moment.</h2>

            <div class="d-flex justify-content-center">
                <p>
                    <a asp-controller="Part" asp-action="Add" class="btn btn-success btn-lg fw-bold" style="width:350px">
                        Add a car
                    </a>
                </p>
            </div>
        }

        @foreach (var part in Model)
        {
            string newDescription = string.Join(" ", part.Description
                .Split(new char[] { ' ', '\t', '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries)
                .ToList().Take(2)) + "...";

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <span class="border border-danger-subtle">

                        <img class="card-img-top img-fluid img-thumbnail my-custom-car-image-props" src="@part.ImageUrl" alt="Part Image">

                        <div class="card-body">

                            <h5 class="card-title text-center">@part.Name</h5>

                            <p class="card-text">
                                <span class="fw-bold">Category:</span> @part.CategoryName
                            </p>

                            <p class="card-text">
                                <span class="fw-bold">Price:</span> @part.Price
                            </p>
                            
                            <p class="card-text">
                                <span class="fw-bold">Description:</span> @newDescription
                            </p>
                            
                            @if (User.IsAdmin())
                            {
                                <p class="card-text">
                                    <span class="fw-bold" style="color: darkred">Owner:</span> @part.Owner
                                </p>
                            }

                        </div>

                        <div class="card-footer">

                            <a asp-controller="Part" asp-action="Details" asp-route-id="@part.Id" class="btn btn-info btn-block">
                                View Details
                            </a>

                            <a asp-controller="Part" asp-action="AddToFavoriteParts" asp-route-id="@part.Id" class="btn btn-purple btn-block">
                                Add to favorite parts
                            </a>
                        
                            @if (User.Identity!.Name == part.Owner || User.IsAdmin())
                            {
                                <a asp-controller="Part" asp-action="Edit" asp-route-id="@part.Id" class="btn btn-warning btn-block">
                                    Edit
                                </a>

                                <a href="#" class="btn btn-danger btn-block delete-part" data-id="@part.Id">
                                    Delete
                                </a>
                            }
                        </div>

                    </span>

                   
                </div>
            </div>

        }

    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial"/>

    <script>
        // Handle the click event for the delete button
        $('.delete-part').on('click', function (e) {
            e.preventDefault();
            const partId = $(this).data('id');
            
            // Show SweetAlert confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to delete this part. This action cannot be undone.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/Part/Delete/${partId}`;
                }
            });
        });
    </script>
}