@model ICollection<CarParts.Web.ViewModels.Part.PartViewModel>

@{
    ViewBag.Title = "My favorite Parts";
}





@{
    // Retrieve messages from TempData
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">@successMessage</div>
}






<style>
    .btn-customColor {
        background-color: darkolivegreen;
        color: white;
        /* Add any additional styling as needed */
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var part in Model)
    {
        string newDescription = string.Join(" ", part.Description
            .Split(new char[] { ' ', '\t', '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries)
            .ToList().Take(5)) + "...";

        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">

                <img src="@part.ImageUrl" alt="Part Image" class="card-img-top">

                <h5 class="card-title mt-1">@part.Name</h5>
                <p class="mb-0"><span class="fw-bold">Description: </span>@newDescription</p>
                <p class="mb-0"><span class="fw-bold">Price: </span>@part.Price</p>
                <p class="mb-0"><span class="fw-bold">Category: </span>@part.CategoryName</p>
            </div>

            
            <a asp-controller="Part" asp-action="Details" asp-route-id="@part.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">
                View Details
            </a>

            <a asp-controller="Part" asp-action="Edit" asp-route-id="@part.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">
                Edit
            </a>

            <a asp-controller="Part" asp-action="RemoveFromFavoriteParts" asp-route-id="@part.Id" class="btn btn-customColor btn-block">
                Remove from favorite parts
            </a>
            
        </div>
    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}