@inject IUserService UserService

@{
    string id = this.User.GetId();
    double balance = await UserService.GetUserBalanceByIdAsync(id);
}

<style>
    .lightblue-color {
        background-color: #99e6ff;
    }
</style>

<nav class="navbar navbar-expand-lg lightblue-color bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index", "Home", new {area = ""} )">Home Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@Url.Action("All", "Car", new { area = "" })">
                        All Cars
                    </a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cars
                    </a>
                    <ul class="dropdown-menu lightblue-color">
                        <li><a class="dropdown-item" href="@Url.Action("Add", "Car", new { area = "" })">Add a car</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Search", "Car", new { area = "" })">Search cars</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("MyFavoriteCars", "Car", new { area = "" })">My favorite cars</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("MyCars", "Car", new { area = "" })">My added cars</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("MyRentedCars", "Car", new { area = "" })">My rented cars</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@Url.Action("All", "Part", new { area = "" })">
                        All Parts
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Parts
                    </a>
                    <ul class="dropdown-menu lightblue-color">
                        <li><a class="dropdown-item" href="@Url.Action("Add", "Part", new { area = "" })">Add a part</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Search", "Part", new { area = "" })">Search part</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("MyFavoriteParts", "Part", new { area = "" })">My favorite parts</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("MyParts", "Part", new { area = "" })">My added parts</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("MyPurchasedParts", "Part", new { area = "" })">My purchased parts</a></li>
                    </ul>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Compare", "Car", new { area = "" })">
                            Compare Cars
                        </a>
                    </li>
                }

            </ul>

            <ul class="navbar-nav align-self-end">
                
                <li class="nav-item" style="margin-top: 8px">
                    <a class="nav-link active" aria-current="page">
                        Balance: @balance eur
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" style="margin-top:7%" 
                       aria-current="page" href="@Url.Action("Index", "Home", new { area="Admin" })"><b>ADMIN AREA</b></a>
                </li>
                
                
                <li class="nav-item">
                    <a asp-area="" asp-controller="Dashboard" asp-action="EditAccountSettings" asp-route-id="@User.GetId()" class="nav-link active" style="margin-top:8%" aria-current="page">
                        <b>Dashboard</b>
                    </a>
                </li>
                

                <span class="navbar-text">
                    <partial name="_LoginPartial"/>
                </span>

            </ul>

        </div>

    </div>

</nav>